<ion-header>
  <ion-navbar>
    <ion-title>
      Câmera
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img id=providerimg *ngIf="this.CameraProvider.foto" [src]="this.CameraProvider.foto">
    <img *ngIf="!this.CameraProvider.foto" src="https://th.bing.com/th/id/OIP.whPW7NR9bVUk4u7UV0hLsgHaHa?pid=ImgDet&rs=1">
  <ion-card-content>
    <p>Registro</p>
  </ion-card-content>
  </ion-card>
  
    <button ion-button (click)="tirarFoto()">Tirar foto</button>
    
</ion-content>


