<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar class=ftperfil item-start>
      <img   *ngIf="this.CameraProvider.foto" [src]="this.CameraProvider.foto"  ion-button (click)="fotoPerfil()">
      <img  *ngIf="!this.CameraProvider.foto" src="https://th.bing.com/th/id/OIP.whPW7NR9bVUk4u7UV0hLsgHaHa?pid=ImgDet&rs=1"  ion-button (click)="fotoPerfil()">
    </ion-avatar>
  </ion-item> 

</ion-content>
