page-contact {

    ion-content{
        ion-item{
            
                height:120px;
                .ftperfil{
                    img, ion-button{
                        height:100px;
                        width: 100px;
                        background-color: white;
                        padding: 0;
                        top:5px;
                    }
                }
            
        }
    }


    
   

}
