<ion-header>
  <ion-navbar>
    <ion-title><h1>Instagram</h1></ion-title>
  </ion-navbar>
</ion-header>
<ion-content  >
<ion-item class="story">
  <ion-item>
    <ion-avatar item-start *ngFor="let item of items">
      <img src="{{item.foto}}">
    </ion-avatar>
   
    
</ion-item>

</ion-item>


  <ion-grid>
    <ion-card *ngFor="let item of items">
  
      <ion-item>
        <ion-avatar item-start>
          <img src="{{item.foto}}">
        </ion-avatar>
        <h2>{{item.user}}</h2>
        <p>25 de maio de 2022</p>
      </ion-item>
  
      <img src="{{item.foto}}">
  
      <ion-card-content>
        <p>{{item.texto}}</p>
      </ion-card-content>
  
      <ion-row>
        <ion-col col-4>
          <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>40 Gosteis</div>
          </button>
        </ion-col >
        <ion-col col-4>
          <button ion-button icon-start clear small>
            <div>4 Comentários</div>
          </button>
        </ion-col >
        <ion-col col-3>
          <button ion-button icon-start clear small>
            <ion-icon name="share"></ion-icon>
            <div>compartilhar</div>
          </button>
        </ion-col>
        <ion-col >
          <ion-note>
            11h atrás
          </ion-note>
        </ion-col>
      </ion-row>
  
    </ion-card>
    
 
  </ion-grid>
</ion-content>
